<!DOCTYPE html>
<html lang="en">

<head>
    <title>Quest Trade Portofolio</title>

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-3d.js"></script>

    <div id="container" style="height: 400px"></div>
</head>
<style>
    #container {
        height: 400px;
        min-width: 310px;
        max-width: 800px;
        margin: 0 auto;
    }
</style>

<body>
    <script>
        $( document ).ready(function() {
            // console.log( "ready!" );

            get_data();
    });

    function get_data(){

url = "/api/data"

var myusername = $("#username").val();
$.ajax({
    type: "GET",
    url: url,
    data: myusername,
    cache: false,
    success: function(data){
        // $("#resultarea").text(data);
        console.log(data);

        plot_chart(data);
    }
});
} //- get data

    function plot_chart(data){


        
        Highcharts.chart('container', {
            chart: {
                type: 'column',
                options3d: {
                    enabled: true,
                    alpha: 15,
                    beta: 15
                }
            },
            title: {
                text: 'Quest Trade'
            },
            xAxis: {
                categories: ['openQuantity', 'closedQuantity', 'currentMarketValue', 'currentPrice',
                    'averageEntryPrice', 'dayPnl','closedPnl','openPnl','totalCost']
            },
            yAxis: {
                title: {
                    text: 'Numerical'
                }
            },
            plotOptions: {
                series: {
                    depth: 40,
                    grouping: false,
                    groupZPadding: 10
                }
            },
            series: [{
                name: 'NEE',
                data: [ 4, 0, 300.96, 75.24, 77.3091, 2.84,0,-8.2764,309.2364]
            }, {
                name: 'APPF',
                data: [ 3, 0, 390.33, 130.11, 145.3959, -0.39,0,-45.8577,436.1877]
            },{
                name: 'KO',
                data: [ 30, 0, 1656.3,  55.21, 53.1082, 21,0,63.054,1593.246]
            },{
                name: 'JNJ',
                data: [ 3, 0, 512.16, 170.72, 162.369,6.66,0,25.053,487.107]
            },{
                name: 'AMD',
                data: [ 5, 0, 382.45, 76.49, 81.71,-11.6,0,-26.1,408.55]
            },{
                name: 'PFE',
                data: [ 38, 0, 1526.08, 40.16, 37.0666, 22.04,0,117.5492,1408.5308]
            },{
                name: 'COIN',
                data: [ 2, 0, 586.4, 293.2, 339.69, 59,0,-92.98,679.38]
            },{
                name: 'VZ',
                data: [ 8, 0, 477.52,  59.69,  59.69, 7.76,0,23.54,453.98]
            },{
                name: 'BAC',
                data: [ 12, 0, 509.28, 42.44, 39.0594, 3.12,0,40.5672,468.7128]
            }]
        });

    }
    </script>
</body>

</html>